{% extends 'mess/index.html' %}
{% load static %}

    {% block title %}
    <title>Student Mess: MyOrders</title>
    {% endblock %}
    {% block content %}
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top shadow">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="#"><img src="{% static "img/logo.png" %}" height="30" width="41"></a>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signup/"><span class="fa fa-info fa-lg"></span> Sign Up</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/myorders/"><span class="fa fa-list fa-lg"></span> My Orders</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="./contactus.html"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                    </ul>
            {% if user.is_authenticated %}
            <div class="usertools">
                Hello, <strong>{{ user.firstname }} {{ user.lastname }} </strong></h3><a href="/logout/"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
            </div>
            {% else %}
            <span class="navbar-text">
                <a role="button" id="loginModalToggle">
                    <span class="fa fa-sign-in"></span> Login
                </a>
            </span>
            {% endif %}
            </div>
        </div>
    </nav>


    <div id="restable" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Order Food</h4>
                    <botton class="close" data-dismiss="modal">
                        &times;
                    </botton>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'order' %}">
                        {% csrf_token %}
                        <div class="form-group row mr-auto align-items-center">
                            <label class="col-auto col-form-label">Plate Count:</label>
                            <div class="col-md-4 col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="plate_count">
                                    <i class="fa fa-minus"></i>
                                    </button>
                                    </span>
                                    <input type="text" name="plate_count" class="form-control input-number col-3" value="1" min="1" max="10">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="plate_count">
                                    <i class="fa fa-plus"></i>
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-auto col-form-label">Payment Mode:</label>
                            <div class="col-auto">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-sm btn-outline-success btn-pm">
                                      <input type="radio" name="payment_method" value="1" autocomplete="off"> Cash
                                    </label>
                                    <label class="btn btn-sm btn-outline-primary btn-pm">
                                        <input type="radio" name="payment_method" value="2" autocomplete="off"> PayTM/GPay
                                      </label>
                                    <label class="btn btn-sm btn-outline-warning btn-pm">
                                      <input type="radio" name="payment_method" value="3" autocomplete="off"> Credit
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-auto col-form-label">Meal Type:</label>
                            <div class="mr-auto col-auto align-middle">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="meal_type" id="lunch" value="1">
                                    <label class="form-check-label" for="lunch">
                                    Lunch
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="meal_type" id="dinner" value="2">
                                    <label class="form-check-label" for="dinner">
                                    Dinner
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-2 col-md-10">
                                <button type="submit" class="btn btn-primary">
                                    Order
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <header class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h1>Student Mess</h1>
                    <p>We provide best quality food, with taste similar to your mother's hand made food, at reasonable price to our students. Enjoy your meal!</p>
                </div>
            </div>
        </div>
    </header>
    <div class="table-responsive">
        <table class="table table-hover orders-table">
          <thead class="thead-light">
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Date & Time</th>
            {% if user.is_admin %}
            <th scope="col">Ordered By</th>
            {% endif %}
            <th scope="col">Plate Count</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Meal Type</th>
            <th scope="col">Confirmation Status</th>
          </tr>
          </thead>
            <tbody>
            {% if user.is_admin %}
            {% for query in queryresult %}
            <tr>
                <td>{{ query.ordered_by }}</td>
                <td>{{ query.datetime }}</td>
                <td>{{ query.ordered_by }}</td>
                <td>{{ query.plate_count }}</td>
                <td>{{ query.payment_method }}</td>
                <td>{{ query.meal_type }}</td>
                <td>{{ query.confirmation_status }}</td>
            </tr>
            {% endfor %}
            {% else %}
            {% for query in queryresult %}
            <tr>
                <td>{{ query.order_id }}</td>
                <td>{{ query.datetime }}</td>
                <td>{{ query.plate_count }}</td>
                <td>{{ query.payment_method }}</td>
                <td>{{ query.meal_type }}</td>
                <td>{{ query.confirmation_status }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}